<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stanstec Rainfall at RG_A in Birmingham</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #graphDiv,
        #map {
            min-height: 400px;
        }

        .custom-btn-width {
            width: 150px;
        }
    </style>
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-3 pb-3 pl-5 pr-5">
    <a class="navbar-brand" href="{% url 'visualize_data' %}">Visualization App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'visualize_data' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'predict_range' %}">Predict Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'custom_data' %}">Custom Visualization</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="container row justify-content-center mb-3">
        <h2 class="text-center">Rainfall at a rain gauge (RG_A) in central Birmingham </h2>
    </div>

    <div class="container row justify-content-center mb-3">
        <p class="text-center">This chart visualizes the data from backend DataBase,The data is regarding the rainfall(RG_A) in Birmingham, Please click on "Monthly button" to aggregate data by month or "yearly" button to aggregate data by year. 
            Use the "Filter" Button to filter data by providing start and end date.
        </p>
    </div>

    <div class="mb-4">
        <!-- Button trigger modal -->
        
        <div class="container">
            <div class="row">
                
                <div class="col btn-group text-left">
                    <button type="button" class="btn btn-info" onclick="aggregateDataByMonth()" data-dismiss="modal">Monthly</button>
                    <button type="button" class="btn btn-secondary" onclick="aggregateDataByYear()" data-dismiss="modal">Yearly</button>
                </div> 
                <div class="col text-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
                        Filter Data
                    </button>
                </div>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade mb-4" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="filterModalLabel">Filter Data Using Start and End Dates Below</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center mb-4">
                            <div class="col w-25">
                                <div class="form-group">
                                    <label for="start_date">Select Start Date and Time:</label>
                                    <input type="text" id="start_date" name="start_date" class="form-control">
                                </div>
                            </div>
                            <div class="col w-25">
                                <div class="form-group">
                                    <label for="end_date">Select End Date and Time:</label>
                                    <input type="text" id="end_date" name="end_date" class="form-control">
                                </div>
                            </div>
                        </div>
                    <div class="row mb-4">
                        <div class="col">
                            <button onclick="filterData()" class="btn btn-primary btn-block" data-dismiss="modal">Filter Data</button> 
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-info btn-block" onclick="refreshPage()">Reset</button>
                        </div>
                    </div> 
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="justify-content-center mb-5">
        <div class="border border-primary p-3 rounded mb-4">
            <div id="graphDiv"></div>
        </div>
        <div class="container row justify-content-center mb-3">
            <h5 class="text-center">Birmingham Map at latitude= 52.48049047465328, longitude= -1.8978672581749725</h5>
        </div>
        <div class="border border-primary p-3 rounded">
            <div id="map"></div>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    var allDates = JSON.parse('{{ dates|safe }}');
    var allRainfallValues = JSON.parse('{{ rainfall_values|safe }}');

    var allMonths = JSON.parse('{{ months|safe }}');
    var allRainfallValuesByMonths = JSON.parse('{{ rainfall_values_by_month|safe }}');

    var allYears = JSON.parse('{{ years|safe }}');
    var allRainfallValuesByYears = JSON.parse('{{ rainfall_values_by_year|safe }}');

    var dates = allDates;
    var rainfall_values = allRainfallValues;

    var months = allMonths;
    var rainfall_values_by_months = allRainfallValuesByMonths;

    var years = allYears;
    var rainfall_values_by_years = allRainfallValuesByYears;

    let isaggregatedatabymonth = false;
    let isaggregatedatabyyear = false;


    var trace1 = {
        x: dates,
        y: rainfall_values,
        type: 'bar',
        marker: {
            color: 'rgb(49,130,189)',
            opacity: 0.7
        }
    };

    var data = [trace1];

    var layout = {
        title: 'Rainfall Data Visualization',
        xaxis: {
            title: 'Date'
        },
        yaxis: {
            title: 'Rainfall(mm)'
        }
    };

    Plotly.newPlot('graphDiv', data, layout);

    var startDatePicker = flatpickr("#start_date", {
        enableTime: true,
        dateFormat: "Y-m-d H:i:S",
    });

    var endDatePicker = flatpickr("#end_date", {
        enableTime: true,
        dateFormat: "Y-m-d H:i:S",
    });

    function refreshPage() {
        location.reload();
    }

    function filterData() {
        var startDate = document.getElementById("start_date").value;
        var endDate = document.getElementById("end_date").value;

        if (startDate && endDate) {
            var filteredDates = [];
            var filteredRainfallValues = [];

            for (var i = 0; i < dates.length; i++) {
                if (dates[i] >= startDate && dates[i] <= endDate) {
                    filteredDates.push(dates[i]);
                    filteredRainfallValues.push(rainfall_values[i]);
                }
            }

            if(isaggregatedatabymonth) {
                filteredDates.splice(0, filteredDates.length);
                filteredRainfallValues.splice(0, filteredRainfallValues.length);
                for (var i = 0; i < months.length; i++) {
                    if (months[i] >= startDate && months[i] <= endDate) {
                        filteredDates.push(months[i]);
                        filteredRainfallValues.push(rainfall_values_by_months[i]);
                    }
                }
                isaggregatedatabymonth = false;
            }

            if(isaggregatedatabyyear) {
                filteredDates.splice(0, filteredDates.length);
                filteredRainfallValues.splice(0, filteredRainfallValues.length);
                for (var i = 0; i < years.length; i++) {
                    if (years[i] >= startDate && years[i] <= endDate) {
                        filteredDates.push(years[i]);
                        filteredRainfallValues.push(rainfall_values_by_years[i]);
                    }
                }
                isaggregatedatabyyear = false;
            }

            var filteredTrace = {
                x: filteredDates,
                y: filteredRainfallValues,
                type: 'bar',
                marker: {
                    color: 'rgb(49,130,189)',
                    opacity: 0.7
                }
            };

            var filteredData = [filteredTrace];

            Plotly.newPlot('graphDiv', filteredData, layout);
        }
    }

    function aggregateDataByMonth() {
        var trace1 = {
            x: months,
            y: rainfall_values_by_months,
            type: 'bar',
            marker: {
                color: 'rgb(19,132,150)',
                opacity: 0.7
            }
        };
    
        var data = [trace1];
    
        var layout = {
            title: 'Rainfall Data Visualization',
            xaxis: {
                title: 'Date'
            },
            yaxis: {
                title: 'Rainfall(mm)'
            }
        };
    
        Plotly.newPlot('graphDiv', data, layout); 
        isaggregatedatabymonth = true;

        startDatePicker.destroy();
        startDatePicker = flatpickr("#start_date", {
            enableTime: false,
            dateFormat: "Y-m",
            altInput: true,
            altFormat: "F Y",
        });
        
        endDatePicker.destroy();
        endDatePicker = flatpickr("#end_date", {
            enableTime: false,
            dateFormat: "Y-m",
            altInput: true,
            altFormat: "F Y",
        });
    }

    function aggregateDataByYear() {
        var trace1 = {
            x: years,
            y: rainfall_values_by_years,
            type: 'bar',
            marker: {
                color: 'rgb(108,117,125)',
                opacity: 0.7
            }
        };
    
        var data = [trace1];
    
        var layout = {
            title: 'Rainfall Data Visualization',
            xaxis: {
                title: 'Date'
            },
            yaxis: {
                title: 'Rainfall(mm)'
            }
        };
    
        Plotly.newPlot('graphDiv', data, layout);   
        isaggregatedatabyyear = true; 
        
        startDatePicker.destroy();
        startDatePicker = flatpickr("#start_date", {
            enableTime: false,
            dateFormat: "Y",
        });
        
        endDatePicker.destroy();
        endDatePicker = flatpickr("#end_date", {
            enableTime: false,
            dateFormat: "Y",
        });
    }

    var map = L.map('map').setView([52.48049047465328, -1.8978672581749725], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
        maxZoom: 18,
    }).addTo(map);

    L.marker([52.48049047465328, -1.8978672581749725]).addTo(map)
    .bindPopup('Rain Gauge RG_A in Birmingham at 52.48049047465328 and -1.8978672581749725');

    var owmApiKey = "6a245621503bfcb08400248d491fca20"; 
    var owmUrl = "https://tile.openweathermap.org/map/{layer}/{z}/{x}/{y}.png?appid=" + owmApiKey;
    var owmAttribution = 'Weather data © <a href="https://openweathermap.org/">OpenWeatherMap</a>';

    var temp = L.tileLayer(owmUrl, {layer: 'temp_new', attribution: owmAttribution, opacity: 0.5});
    temp.addTo(map);

    var prec = L.tileLayer(owmUrl, {layer: 'precipitation_new', attribution: owmAttribution, opacity: 0.5});

    var baseLayers = {
        "OpenStreetMap": L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
            maxZoom: 18,
        })
    };

    var overlays = {
        "Temperature": temp,
        "Precipitation": prec,
    };

    L.control.layers(baseLayers, overlays).addTo(map);

</script>

</body>

</html>

